<%= provide(:title, 'All users') %>
<div class="container">
  <h1>All users</h1>
  <div class="index">
    <% @users.each do |user| %>
      <div class="user">
        <h2 class="profile"><%= user.name %></h2>
        <p class="profile"><%= shorted_text user %> <%= link_to '詳細を見る', user %></p>
      </div>
    <% end %>
  </div>
  <%= will_paginate %>
</div>
