<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="title">
            <h1>Cities</h1>
          </div>
          <div class="link">
            <%= link_to 'log in', '#' %>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
